<div id="events-container">
    <div id="event-form">
        <mat-card>
            <mat-card-title>
                Create Event
            </mat-card-title>
            <mat-card-content class="form-content">
                <label>
                    <br>
                    Event Details
                </label>
                <form [formGroup]="eventsForm" (ngSubmit)="submitForm()">

                    <br>
                    <mat-form-field appearance="fill" class="title">
                        <mat-label>Event Title</mat-label>
                        <input formControlName="title" required matInput type="text" />
                        <mat-error *ngIf="eventsForm.controls.title.hasError('required')">Required</mat-error>
                    </mat-form-field>

                    <br>

                    <mat-form-field appearance="fill" class="start-date">
                        <mat-label>Start Date</mat-label>
                        <input readonly formControlName="startDate" required matInput [matDatepicker]="startPicker" (dateInput)="enableEndDateTimeFields()" [min]="minDate"/>
                        <mat-error *ngIf="eventsForm.controls.startDate.hasError('required')">Required</mat-error>
                        <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
                        <mat-datepicker #startPicker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="start-time">
                        <mat-label>Start Time</mat-label>
                        <input (input)="enableEndDateTimeFields()" formControlName="startTime" required matInput type="text" placeholder="e.g. 13:00" placeholder="e.g. 13:00"/>
                        <mat-error *ngIf="eventsForm.controls.startTime.hasError('required')">Required</mat-error>
                        <mat-error *ngIf="eventsForm.controls.startTime.hasError('pattern')">Please use HH:MM format</mat-error>
                    </mat-form-field>

                    <br>

                    <mat-form-field appearance="fill" class="end-date" disabled="!eventsForm.controls.startDate.valid">
                        <mat-label>End Date</mat-label>
                        <input readonly formControlName="endDate" required matInput [matDatepicker]="endPicker" [min]="eventsForm.controls.startDate.value || minDate" />
                        <mat-error *ngIf="eventsForm.controls.endDate.hasError('required')">Required</mat-error>
                        <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
                        <mat-datepicker #endPicker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="end-time">
                        <mat-label>End Time</mat-label>
                        <input formControlName="endTime" required matInput type="text" placeholder="e.g. 13:00"/>
                        <mat-error *ngIf="eventsForm.controls.endTime.hasError('required')">Required</mat-error>
                        <mat-error *ngIf="eventsForm.controls.endTime.hasError('pattern')">Please use HH:MM format</mat-error>
                    </mat-form-field>

                    <br>

                    <mat-form-field appearance="fill" class="description">
                        <mat-label>Description</mat-label>
                        <textarea formControlName="description" matInput></textarea>
                    </mat-form-field>

                    <label>
                        <br>
                        Contact
                    </label>
                    <br>
                    <mat-form-field appearance="fill" class="email">
                        <mat-label>Contact Email</mat-label>
                        <input required matInput type="email" formControlName="email" placeholder="email@email.com" />
                        <mat-error *ngIf="eventsForm.controls.email.hasError('email')">Invalid Email Format</mat-error>
                        <mat-error *ngIf="eventsForm.controls.email.hasError('required')">Required</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="phone">
                        <mat-label>Contact Phone</mat-label>
                        <input formControlName="phone" required matInput type="tel" placeholder="+447123456789" />
                        <mat-error *ngIf="eventsForm.controls.phone.hasError('required')">Required</mat-error>
                        <mat-error *ngIf="eventsForm.controls.phone.hasError('minlength')">Phone number should be at least 11 characters long</mat-error>
                        <mat-error *ngIf="eventsForm.controls.phone.hasError('maxlength')">Phone number should be a maximum of 13 characters long</mat-error>
                    </mat-form-field>

                    <label>
                        <br>
                        Location
                    </label>
                    <br>
                    <mat-form-field appearance="fill" class="address-one">
                        <mat-label>Address 1</mat-label>
                        <input formControlName="addressOne" required matInput type="text" />
                        <mat-error *ngIf="eventsForm.controls.addressOne.hasError('required')">Required</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="address-two">
                        <mat-label>Address 2</mat-label>
                        <input formControlName="addressTwo" matInput type="text" />
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="city">
                        <mat-label>City</mat-label>
                        <input formControlName="city" required matInput type="text" />
                        <mat-error *ngIf="eventsForm.controls.city.hasError('required')">Required</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="fill" appearance="fill" class="county">
                        <mat-label>County</mat-label>
                        <mat-select formControlName="county" required>
                            <mat-option *ngFor="let county of counties" [value]="county">
                                {{ county }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="eventsForm.controls.county.hasError('required')">Required</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="post-code">
                        <mat-label>Post Code</mat-label>
                        <input formControlName="postCode" required matInput type="text" />
                        <mat-error *ngIf="eventsForm.controls.postCode.hasError('required')">Required</mat-error>
                    </mat-form-field>

                    <br>

                    <label>
                        <br>
                        Additional Info
                    </label>
                    <br>
                    <mat-form-field appearance="fill" class="tags">
                        <mat-label>Tags</mat-label>
                        <textarea formControlName="tags" matInput></textarea>
                        <mat-hint>Comma separated e.g. outside, family friendly</mat-hint>
                    </mat-form-field>
                    <button [disabled]="!eventsForm.valid"class="submit-button" mat-raised-button color="primary">Submit</button>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
    <div id="events-list">
        <mat-card>
            <mat-card-title>
                <span class="card-title">Upcoming Events</span>
                <div class="event-filtering-controls">
                    <button class="filter-button" mat-icon-button matTooltip="Filtering" [matTooltipPosition]="'above'" (click)="openFilterDialog()">
                        <mat-icon>filter_list</mat-icon>
                    </button>
                    <button class="filter-button" mat-icon-button matTooltip="Sort" [matTooltipPosition]="'above'" (click)="sortEvents()">
                        <mat-icon>sort_by_alpha</mat-icon>
                    </button>
                </div>
            </mat-card-title>
            <div class="search-bar">
                <input matInput type="text" placeholder="Search by name" name="searchQuery" [(ngModel)]="searchQuery" (keyup.enter)="searchForEvent()">
                <button class="clear-button" mat-icon-button mat-icon-button matTooltip="Clear filtering and sorting" [matTooltipPosition]="'left'" (click)="clearSearchFiltersSort()">
                    <mat-icon>clear</mat-icon>
                </button>
                <button class="search-button" mat-icon-button mat-icon-button matTooltip="Search" [matTooltipPosition]="'right'" (click)="searchForEvent()">
                    <mat-icon>search</mat-icon>
                </button>
            </div>
            <mat-card-content class="upcoming-events-content">
                <mat-selection-list [multiple]="false" [disableRipple]="true" #eventList>
                    <!--Uncomment first line, comment out second line to use mock data
                        Note that this disables filtering and sorting of the list (as using mock data makes it static(
                        However, the map will still update based on filtering
                        ))
                    -->
                    <!-- <mat-list-option class="event-list-item" (click)="centerOnEvent(event.geolocation)" *ngFor="let event of mockEvents$ | async"> -->
                    <mat-list-option class="event-list-item" (click)="centerOnEvent(event.geolocation)" *ngFor="let event of events$ | async">
                        <div class="event-title-container">
                            <div class="event-title">
                                {{event.title}}
                            </div>
                            <div class="delete-event-button-container">
                                <button mat-icon-button class="delete-event-button" mat-icon-button matTooltip="Delete Event" [matTooltipPosition]="'left'" (click)="openDeleteDialog(event)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </div>
                        </div>
                        <span *ngIf="event.description != 'null'" class="event-description">
                            "{{event.description }}"
                        </span>
                        <span class="event-tags">
                            <mat-chip class="tag-chip" *ngFor="let tag of event.tags">
                                {{tag}}
                            </mat-chip>
                        </span>
                        <br>
                        <mat-divider></mat-divider>
                    </mat-list-option>
                </mat-selection-list>
            </mat-card-content>
        </mat-card>
    </div>
    <div id="map-container">
        <mat-card>
            <mat-card-content>
                    <div id="map" #map></div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
