// measurements
$default-padding: 16px;

// colours
$darken-10: rgba(0, 0, 0, 0.1);

#events-container {
    display: flex;
    flex-wrap: wrap;
    .form-content {
        max-height: 25vh;
        overflow-x: hidden;
        overflow-y: auto;
    }
    #event-form {
        flex-basis: 100%;
        padding: $default-padding;
        label {
            padding-left: 4px;
        }
        mat-form-field {
            margin-right: 8px;
        }
        .title, .description, .tags {
            width: calc(100% - 8px);
        }
        .start-date, .end-date, .start-time, .end-time, .email, .phone, .address-one, .address-two, .city, .county, .post-code {
            width: calc(50% - 8px);
        }
        .submit-button {
            margin: 8px 0;
        }
    }
    #events-list {
        flex-grow: 1;
        padding: $default-padding;
        width: fit-content;
        max-height: 50vh;
        span {
            padding: 0 2px;
        }
        mat-card {
            max-height: 50vh;
            overflow: auto;
        }
        @media only screen and (max-width: 500px) {
            mat-card {
                max-height: 25vh;
            }
        }
        mat-card-title {
            padding-bottom: 8px;
            .card-title {
                float: left;
            }
            .event-filtering-controls {
                float: right;
                mat-icon {
                    padding: 0 4px;
                }
            }
        }
        .search-bar {
            display: flex;
            margin-top: 32px;
            .search-button, .clear-button {
                margin-left: 4px;
            }
            input {
                padding: 8px;
                background-color: $darken-10;
                border-radius: 4px;
            }
        }
        .event-list-item {
            height: fit-content;
            padding: 4px;
            .delete-event-button {
                float: right;
                
            }
            span {
                display: block;
                width: inherit;
                margin-top: 8px;
            }
            .event-title {
                font-weight: bold;
                text-transform: capitalize;
            }
            .event-description {
                font-style: italic;
            }
        }
    }
    
    #map-container {
        flex-grow: 4;
        padding: $default-padding;
        #map {
            padding: $default-padding;
            min-height: 50vh;
            min-width: 400px;
        }
        // support mobile view
        @media only screen and (max-width: 500px) {
            #map {
                // this value is arbitrary
                // just needs to be wide enough
                // to force a line break
                min-width: 50vw;
            }
        }
    }
    
    mat-list-option .mat-list-item-content .mat-list-item-content-reverse {
        padding: 0 !important;
    }
}