mat-card-title {
    padding-bottom: 8px;
    .card-title {
        margin-top: 8px;
        float: left;
    }
    .filter-button {
        float: right;
        mat-icon {
            padding: 0 4px;
        }
    }
}
.available-tags {
    margin: 48px 0 16px 0;
}

.selected-tags {
    margin: 24px 0 16px 0;
}

.all-tags[disabled="true"] {
    pointer-events: none;
}